<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Optimization Category"
            id="ga_meets_fide.commands.category">
      </category>
      <command
            name="Optimization Command"
            categoryId="ga_meets_fide.commands.category"
            id="ga_meets_fide.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="ga_meets_fide.commands.sampleCommand"
            class="modcomp.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ga_meets_fide.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+5"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Optimization"
               mnemonic="M"
               id="ga_meets_fide.menus.sampleMenu">
            <command
                  commandId="ga_meets_fide.commands.sampleCommand"
                  mnemonic="S"
                  id="ga_meets_fide.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ga_meets_fide.toolbars.sampleToolbar">
            <command
                  commandId="ga_meets_fide.commands.sampleCommand"
                  icon="icons/optimization.gif"
                  tooltip="Start optimization"
                  id="ga_meets_fide.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
